<!-- Footer Component -->
<footer class="reveal-footer" role="contentinfo">
	<div class="container">

		<div class="sign-up-box">
			<h2>Discover Trends. Sign Up for Deals.</h2>
			<form action="">
				<input type="email">
				<input type="submit" value="Sign Up">
				<a href="">More Details</a>
			</form>
		</div>

		<div class="mall-details">
			<ul>
				<li>{{mall.streetaddress}}, {{mall.city}}, {{mall.state}}, {{mall.zip}}</li>
				<li>{{mall.phone}}</li>
			</ul>
		</div>

		<div class="legal">
			<ul>
				<li><a href="/terms">Terms of Use</a></li>
				<li><a href="/privacy">Privacy Policy</a></li>
				<li><a href="/coc">Code of Conduct</a></li>
				<li><a href="/press">Press Room</a></li>
				<li><a href="/giftcards">Gift Cards</a></li>
				<li><a href="http://www.centercal.com/">CenterCal Properties, LLC.</a></li>
			</ul>
		</div>

		<div class="map">
			<iframe width="100%" height="300" frameborder="0" style="border:0" src="https://maps.google.com/maps?sll=39.5034206,-105.0203504&amp;sspn=0.0063577,0.0109864&amp;q=9742+Titan+Park+Cir&amp;ie=UTF8&amp;hq=&amp;hnear=9742+Titan+Park+Cir,+Littleton,+Colorado+80125&amp;t=m&amp;z=14&amp;ll=39.503421,-105.02035&amp;output=embed"></iframe>
		</div>

		<img class="pw-logo" src="/images/placewise-logo.png" alt="Placewise Media">

		<img class="pw-logo" src="/images/centercal-logo.png" alt="CenterCal Properties">

		<p>Copyright CenterCal Properties, LLC. All rights reserved. All companies, products and brands mentioned are trademarks or registered trademarks of their respective trademark owners. Owned and operated by CenterCal Properties, LLC.</p>

	</div>
</footer>
